<!-- <nav class="navbar custom-navbar main-brand">
  <a class="navbar-brand mr-auto" [routerLink]="['/']">
    <img src="assets/images/Medcare-Logo.ico" class="navbar-brand-logo hover-hidden" alt="Medcare Logo">
    <span class="docked-hidden">
      <img src="assets/images/clinicare-logo.png" class="navbar-brand-logo" alt="Medcare Logo">
    </span>
  </a>
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" (click)="toggleSidebar.emit()">
      <i class="hamburger-icon v2" *ngIf="mode === 'over'">
        <span></span>
      </i>
    </a>
  </li>
</ul> 
</nav>

<app-menu></app-menu> -->