<!-- <div class="divNotificationContainer">
    <div class="divNotification divNotificationBlack px-3 py-2 my-1">
        <div class="flex">
            <img src="assets/images/notification-lab.png" class="pr-2">
            <p class="content-notifcation width100">Test Notification for lab report ready</p>
        </div>
        <div class="divActions flex width100">
            <button mat-flat-button class="btnCyan mx-1">Accept</button>
            <button mat-flat-button class="btnRed mx-1">Reject</button>
        </div>
    </div>

    <div class="divNotification divNotificationGrey px-3 py-2 my-1">
        <div class="flex">
            <img src="assets/images/notification-procedure.png" class="pr-2">
            <p class="content-notifcation width100">Test Notification for procedure done on patient</p>
        </div>
        <div class="divActions flex width100">
            <button mat-flat-button class="btnCyan mx-1">Accept</button>
            <button mat-flat-button class="btnRed mx-1">Reject</button>
        </div>
    </div>

    <div class="divNotification divNotificationRed px-3 py-2 my-1">
        <div class="flex">
            <img src="assets/images/notification-lab.png" class="pr-2">
            <p class="content-notifcation width100">Test Notification</p>
        </div>
        <div class="divActions flex width100">
            <button mat-flat-button class="btnCyan mx-1">Accept</button>
            <button mat-flat-button class="btnRed mx-1">Reject</button>
        </div>
    </div>
</div> -->