<div class="mat-menu-modal divNotification">
  <div class="divHeader">
    <b class="green">Notification</b>
  </div>
  <div class="divBody">
    <div class="divNotificationItem divNotificationItemUnread">
      <div class="flex">
        <img src="assets/images/notification-lab.png" class="pr-2">
        <div class="content-notifcation width80">
          <b>ADT &nbsp;</b>
          <span class="spanNotificationMsg">Notification for admission of patient to ward B</span>
        </div>
        <div class="divTime width20 right">3.00pm</div>
      </div>
    </div>
    <div class="divNotificationItem divNotificationItemUnread">
      <div class="flex">
        <img src="assets/images/notification-procedure.png" class="pr-2">
        <div class="content-notifcation width80">
          <b>ADT &nbsp;</b>
          <span class="spanNotificationMsg">Notification for procedure done on patient admitted in ward B</span>

          <div class="divActions flex width100">
            <button mat-flat-button class="btnCyan">Accept</button>
            <button mat-flat-button class="btnRed mx-1">Reject</button>
          </div>
        </div>
        <div class="divTime width20 right">12.05pm</div>
      </div>

    </div>
    <div class="divNotificationItem divNotificationItemRead">
      <div class="flex">
        <img src="assets/images/notification-medication.png" class="pr-2">
        <div class="content-notifcation width80">
          <b>Medication &nbsp;</b>
          <span class="spanNotificationMsg">Notification for procedure done on patient admitted in ward B</span>
        </div>
        <div class="divTime width20 right">12.05pm</div>
      </div>

    </div>
    <div class="divNotificationItem divNotificationItemRead">
      <div class="flex">
        <img src="assets/images/notification-procedure.png" class="pr-2">
        <div class="content-notifcation width80">
          <b>ADT &nbsp;</b>
          <span class="spanNotificationMsg">Notification for procedure done on patient admitted in ward B</span>

          <div class="divActions flex width100">
            <b class="notificationRejected">Rejected</b>
          </div>
        </div>
        <div class="divTime width20 right">12 May 2018</div>
      </div>

    </div>
    <div class="divNotificationItem divNotificationItemRead">
      <div class="flex">
        <img src="assets/images/notification-procedure.png" class="pr-2">
        <div class="content-notifcation width80">
          <b>ADT &nbsp;</b>
          <span class="spanNotificationMsg">Notification for procedure done on patient admitted in ward B</span>

          <div class="divActions flex width100">
            <b class="notificationAccepted">Rejected</b>
          </div>
        </div>
        <div class="divTime width20 right">12 May 2018</div>
      </div>

    </div>
  </div>
  <div class="divFooter" (click)="showAllPushNotification()">
    <b class="viewNotifications cursorPointer">View All</b>
  </div>
</div>